{% extends "base.html" %}
{% block content %}
    <h1>Game {{ game.id }}</h1>

    <h2>Game Stats</h2>
    <table>
        <tr>
            <td>Current turn number:</td>
            <td>{{ game.current_turn_number }}</td>
        </tr>
        <tr>
            <td>Number of Failures:</td>
            <td><span class="failures circles" data-on="{{ game.current_number_of_failures }}"
                data-total="{{ game.start_failures }}"></span></td>
        </tr>
        <tr>
            <td>Number of Hints:</td>
            <td><span class="hints circles" data-on="{{ game.current_number_of_hints}}" data-total="{{ game.start_hints }}"></span></td>
        </tr>
        <tr>
            <td>Current Player:</td>
            <td>{{ game.current_user.name }}</td>
        </tr>
        <tr>
            <td>Card State</td>
            <td>
                {% for color, value in game.card_status.items() %}
                    <span class="card" data-card-value="{{ value }}" data-card-color="{{ color }}"></span>
                {% endfor %}
            </td>
        </tr>
        {% for other_user in game.users %}
            <tr>
                {% if other_user != user %}
                    <td>{{ other_user.name }}'s cards:</td>
                {% else %}
                    <td>Your cards:</td>
                {% endif %}
                <td>
                    {% for card in game.get_cards_of_user(other_user) %}
                        <div class="cardholder">
                            {% if other_user != user %}
                                <div class="card card-clickable"
                                      data-card-value="{{ card.value }}"
                                      data-card-color="{{ card.color_string }}">
                                </div>
                            {% else %}
                                <div class="card card-clickable"
                                      data-card-value="-1"
                                      data-card-color="-1">
                                </div>
                            {% endif %}
                            <div class="card-hints">
                                {% for hint in game.get_hints_for_card(card) %}
                                    <p>{{ hint }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if game.state_string == "created" %}
        <a href="{{ url_for("game.start_game", id=game.id) }}">Start game</a>
    {% endif %}

    <h2>Debug Stats</h2>

    <table border="1">
        <tr>
            <td width="20%">Start deck</td>
            <td>{{ game.start_deck }}</td>
        </tr>
        <tr>
            <td>Game state:</td>
            <td>{{ game.state_string }}</td>
        </tr>
        <tr>
            <td>User cards</td>
            <td>
                {% for user in game.users %}
                    User: {{ user.name }}, {{ game.get_cards_of_user(user) }}<br/>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Next card:</td>
            <td>{{ game.next_card }}</td>
        </tr>
        <tr>
            <td>Played turns:</td>
            <td>
                {% for turn in game.played_turns %}
                   <p>{{ turn }}</p>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Possible turns:</td>
            <td>
                {% set turn_id = 0 %}
                {% for turn in game.get_possible_turns(game.current_user) %}
                   <p><a href="{{ url_for("game.make_turn", game_id=game.id, turn_id=turn_id) }}">{{ turn }}</a></p>
                    {% set turn_id = turn_id + 1 %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Card State</td>
            <td>{{ game.card_status }}</td>
        </tr>
    </table>
{% endblock %}